ggPORT=3001
CLIENT_ORIGIN=http://localhost:5173
PEER_PATH=/peerjs
DIRECT_CALL_WS_PATH=/ws/direct-call
APP_BASE_URL=http://localhost:5173
AUTH_JWT_SECRET=AREPOIQWSD1239AS3R
AUTH_JWT_ALGORITHM=HS256
ALLOW_INSECURE_DEV_AUTH=false
DEV_AUTH_JWT_SECRET=AREPOIQWSD1239AS3R
MAX_CALL_REQUESTS_PER_MINUTE=6
MAX_SIGNAL_MESSAGES_PER_MINUTE=180
CALL_RING_TIMEOUT_MS=30000
STUN_URLS=stun:stun.l.google.com:19302
TURN_URLS=
TURN_SHARED_SECRET=
TURN_TTL_SECONDS=600
FCM_PROJECT_ID=
FCM_CLIENT_EMAIL=
FCM_PRIVATE_KEY=
PUSH_NOTIFICATION_ICON=/favicon.svg
